.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.css-qw1zpg-MuiCardContent-root:last-child {
  padding-bottom: 20px !important;
}

.css-1i66ek0-MuiCardContent-root:last-child {
  padding-bottom: unset !important;
}

.landing-img1,
.landing-img2,
.landing-img3 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      180deg,
      #030303 0%,
      rgba(8, 7, 8, 0) 43.83%,
      #030303 90.13%
    ),
    url("../Assets/Images/Home/Landing\ images/car2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
