.arrow {
  position: absolute;
  top: 90vh;
  z-index: 1000;
  text-align: center;
  width: 100%;
}

.arrow a {
  color: #d6d6d6;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .arrow {
    top: 85vh;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
