.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #030303;
  background-color: #d6d6d6;
}

.dropdown-list {
  font-weight: 400 !important;
  line-height: 1.5 !important;
  width: 230px !important;
  font-size: 14px !important;
  padding: 10px 16px 0 16px !important;
  color: #030303 !important;
  justify-content: space-between !important;
}

.dropdown-list:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.sub-dropdown {
  position: relative;
  display: inline-block;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  transform: translateX(230px) translateY(-30px);
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.sub-dropdown:hover .sub-dropbtn {
  color: #030303;
  background-color: #d6d6d6;
}
